h2 {
    background-color: brown;
    color: bisque;
}
.mango{
    background-color: chocolate;
}
#peach {
    background-color: blanchedalmond;
}
#orange{
    background-color: black;
}
#fred{
    background-color: cadetblue;
}
#pop{
    background-color: black;
} 